<web-app>
    <context-param>
        <param-name>resteasy.role.based.security</param-name>
        <param-value>true</param-value>
    </context-param>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/automats</url-pattern>
        </web-resource-collection>
    </security-constraint>
</web-app>